body{

    background: #d1d5db;
}

.height{

    height: 100vh;
}

.form{

    position: relative;
}

/* .form {

    position: absolute;
    top:100px;
    left: 20px;
    color: #9ca3af;

}*/

.form span{

    position: absolute;
    right: 17px;
    top: 50px;
    padding: 20px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
/* heading */
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

.searchbar:hover > .try{
    background: white;
    color: #e74c3c;
    }

.try{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

.title{
        position: absolute;
        top: 20%;
        left:38%;
        transform: translte(-50%,50%);
        font-family: 'Epilogue', sans-serif;
    }

.title h1{
        color:#353b48;
        font: size 70px;
    }